.imagemLogin {
    background-image: url ('https://i.imgur.com/d5bMdDJ.jpg');
    min-height: 100vh;
    width:100vh; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.textos {
    font-weight: bold;
}
.text-decoration-none{
    text-decoration: none;
}
