.barra-footer{
    background-color : #29274C !important;
    height: 100px;
}

.barra-footer-bottom{
    background-color : #29274C  !important;
    height: 40px;
}

.facebook-icon{
    fill: white !important;
    width: 35px!important;
    height: 35px!important;
    padding: 15px!important;
}

.github-icon{
    fill: white!important;
    width: 35px!important;
    height: 35px!important;
    padding: 15px!important;
}

.linkedin-icon{
    fill: white!important;
    width: 35px!important;
    height: 35px!important;
    padding: 15px!important;
}


